In [29]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

In [30]:
m_cycle = pd.read_csv('Sample_Sales_Data.csv')
m_cycle

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,897 Long Airport Avenue,NaN,NYC,NY,10022,USA,NaN,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,5/7/2003 0:00,Shipped,2,5,2003,...,59 rue de l'Abbaye,NaN,Reims,NaN,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,2003,...,27 rue du Colonel Pierre Avia,NaN,Paris,NaN,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,78934 Hillside Dr.,NaN,Pasadena,CA,90003,USA,NaN,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,...,7734 Strong St.,NaN,San Francisco,CA,NaN,USA,NaN,Brown,Julie,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2818,10350,20,100.00,15,2244.40,12/2/2004 0:00,Shipped,4,12,2004,...,"C/ Moralzarzal, 86",NaN,Madrid,NaN,28034,Spain,EMEA,Freyre,Diego,Small
2819,10373,29,100.00,1,3978.51,1/31/2005 0:00,Shipped,1,1,2005,...,Torikatu 38,NaN,Oulu,NaN,90110,Finland,EMEA,Koskitalo,Pirkko,Medium
2820,10386,43,100.00,4,5417.57,3/1/2005 0:00,Resolved,1,3,2005,...,"C/ Moralzarzal, 86",NaN,Madrid,NaN,28034,Spain,EMEA,Freyre,Diego,Medium
2821,10397,34,62.24,1,2116.16,3/28/2005 0:00,Shipped,1,3,2005,...,1 rue Alsace-Lorraine,NaN,Toulouse,NaN,31000,France,EMEA,Roulet,Annette,Small
2822,10414,47,65.52,9,3079.44,5/6/2005 0:00,On Hold,2,5,2005,...,8616 Spinnaker Dr.,NaN,Boston,MA,51003,USA,NaN,Yoshido,Juri,Medium

In [31]:
m_cycle.ORDERNUMBER.isna().value_counts()

False    2823
Name: ORDERNUMBER, dtype: int64

In [34]:
m_cycle["ORDERNUMBER"].value_counts()

10332    18
10106    18
10159    18
10168    18
10398    18
         ..
10242     1
10189     1
10286     1
10216     1
10294     1
Name: ORDERNUMBER, Length: 307, dtype: int64

In [42]:
m_cycle[m_cycle["ORDERNUMBER"] == 10332].head(20)

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
494,10332,46,95.13,15,4375.98,11/17/2004 0:00,Shipped,4,11,2004,...,Fauntleroy Circus,NaN,Manchester,NaN,EC2 5NT,UK,EMEA,Ashworth,Victoria,Medium
520,10332,27,89.89,16,2427.03,11/17/2004 0:00,Shipped,4,11,2004,...,Fauntleroy Circus,NaN,Manchester,NaN,EC2 5NT,UK,EMEA,Ashworth,Victoria,Small
696,10332,38,84.25,9,3201.50,11/17/2004 0:00,Shipped,4,11,2004,...,Fauntleroy Circus,NaN,Manchester,NaN,EC2 5NT,UK,EMEA,Ashworth,Victoria,Medium
745,10332,35,64.69,8,2264.15,11/17/2004 0:00,Shipped,4,11,2004,...,Fauntleroy Circus,NaN,Manchester,NaN,EC2 5NT,UK,EMEA,Ashworth,Victoria,Small
849,10332,24,52.67,1,1264.08,11/17/2004 0:00,Shipped,4,11,2004,...,Fauntleroy Circus,NaN,Manchester,NaN,EC2 5NT,UK,EMEA,Ashworth,Victoria,Small
928,10332,26,100.00,17,2979.08,11/17/2004 0:00,Shipped,4,11,2004,...,Fauntleroy Circus,NaN,Manchester,NaN,EC2 5NT,UK,EMEA,Ashworth,Victoria,Small
981,10332,40,39.80,18,1592.00,11/17/2004 0:00,Shipped,4,11,2004,...,Fauntleroy Circus,NaN,Manchester,NaN,EC2 5NT,UK,EMEA,Ashworth,Victoria,Small
1283,10332,50,100.00,2,7310.00,11/17/2004 0:00,Shipped,4,11,2004,...,Fauntleroy Circus,NaN,Manchester,NaN,EC2 5NT,UK,EMEA,Ashworth,Victoria,Large
1409,10332,21,100.00,3,3472.98,11/17/2004 0:00,Shipped,4,11,2004,...,Fauntleroy Circus,NaN,Manchester,NaN,EC2 5NT,UK,EMEA,Ashworth,Victoria,Medium
1432,10332,23,56.84,4,1307.32,11/17/2004 0:00,Shipped,4,11,2004,...,Fauntleroy Circus,NaN,Manchester,NaN,EC2 5NT,UK,EMEA,Ashworth,Victoria,Small
1510,10332,20,87.96,5,1759.20,11/17/2004 0:00,Shipped,4,11,2004,...,Fauntleroy Circus,NaN,Manchester,NaN,EC2 5NT,UK,EMEA,Ashworth,Victoria,Small
1556,10332,45,81.91,6,3685.95,11/17/2004 0:00,Shipped,4,11,2004,...,Fauntleroy Circus,NaN,Manchester,NaN,EC2 5NT,UK,EMEA,Ashworth,Victoria,Medium
1634,10332,26,85.52,10,2223.52,11/17/2004 0:00,Shipped,4,11,2004,...,Fauntleroy Circus,NaN,Manchester,NaN,EC2 5NT,UK,EMEA,Ashworth,Victoria,Small
1710,10332,39,86.72,7,3382.08,11/17/2004 0:00,Shipped,4,11,2004,...,Fauntleroy Circus,NaN,Manchester,NaN,EC2 5NT,UK,EMEA,Ashworth,Victoria,Medium
1786,10332,44,42.26,11,1859.44,11/17/2004 0:00,Shipped,4,11,2004,...,Fauntleroy Circus,NaN,Manchester,NaN,EC2 5NT,UK,EMEA,Ashworth,Victoria,Small
1862,10332,45,34.19,12,1538.55,11/17/2004 0:00,Shipped,4,11,2004,...,Fauntleroy Circus,NaN,Manchester,NaN,EC2 5NT,UK,EMEA,Ashworth,Victoria,Small
1938,10332,31,37.18,13,1152.58,11/17/2004 0:00,Shipped,4,11,2004,...,Fauntleroy Circus,NaN,Manchester,NaN,EC2 5NT,UK,EMEA,Ashworth,Victoria,Small
2040,10332,41,77.24,14,3166.84,11/17/2004 0:00,Shipped,4,11,2004,...,Fauntleroy Circus,NaN,Manchester,NaN,EC2 5NT,UK,EMEA,Ashworth,Victoria,Medium

In [43]:
m_cycle[m_cycle["ORDERNUMBER"] == 10332]["PRODUCTCODE"].head(20)

494     S18_1342
520     S18_1367
696     S18_2248
745     S18_2325
849     S18_2795
928     S18_2957
981     S18_3136
1283    S18_4409
1409    S18_4933
1432    S24_1046
1510    S24_1628
1556    S24_1937
1634    S24_2022
1710    S24_2766
1786    S24_2887
1862    S24_3191
1938    S24_3432
2040    S24_3969
Name: PRODUCTCODE, dtype: object

In [44]:
m_cycle[m_cycle["ORDERNUMBER"] == 10332]["PRODUCTCODE"].head(20).value_counts()

S18_1342    1
S18_1367    1
S24_3432    1
S24_3191    1
S24_2887    1
S24_2766    1
S24_2022    1
S24_1937    1
S24_1628    1
S24_1046    1
S18_4933    1
S18_4409    1
S18_3136    1
S18_2957    1
S18_2795    1
S18_2325    1
S18_2248    1
S24_3969    1
Name: PRODUCTCODE, dtype: int64

In [45]:
m_cycle[m_cycle["ORDERNUMBER"] == 10332]["PRODUCTCODE"].head(20).value_counts().sum()

18

## So every individual product ordered has own listing. Can share order # is more than 1 product is ordered at a time


# Cuts

## All sales are date only - hours and seconds can be cut
## Actually have col of quarters and months and years? Combine into new simple column and cut month and year col

## Maybe want to cut any canceled/ removed sales?
## Cut on hold? Resolved? Disputed?
## Look At who canceled most
##

# Investigate


## Highest profit product line by year
## 

## Next lets look at correlations with time
## Each product line's performance over time
## Industry that bought most over time(buyer vs sales)
## best sales over time per product line
## Regions over time (sales vs region)
## SALES VS COUNTRY
## Sales vs state
## vs city
## VS


## Best customers (buyer vs sales)

## Look at highest volume sales and best contact?
## look at hiest volume sales and highest profit sales companies and contacts


## Best product per country
## best line per country/city /state/region
## most profitable product
## Best selling product
## Best seller by region/city/country/state

# Correlation MAPS WITH HEAT 
# See where things may be best

In [46]:
m_cycle

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,897 Long Airport Avenue,NaN,NYC,NY,10022,USA,NaN,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,5/7/2003 0:00,Shipped,2,5,2003,...,59 rue de l'Abbaye,NaN,Reims,NaN,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,2003,...,27 rue du Colonel Pierre Avia,NaN,Paris,NaN,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,78934 Hillside Dr.,NaN,Pasadena,CA,90003,USA,NaN,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,...,7734 Strong St.,NaN,San Francisco,CA,NaN,USA,NaN,Brown,Julie,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2818,10350,20,100.00,15,2244.40,12/2/2004 0:00,Shipped,4,12,2004,...,"C/ Moralzarzal, 86",NaN,Madrid,NaN,28034,Spain,EMEA,Freyre,Diego,Small
2819,10373,29,100.00,1,3978.51,1/31/2005 0:00,Shipped,1,1,2005,...,Torikatu 38,NaN,Oulu,NaN,90110,Finland,EMEA,Koskitalo,Pirkko,Medium
2820,10386,43,100.00,4,5417.57,3/1/2005 0:00,Resolved,1,3,2005,...,"C/ Moralzarzal, 86",NaN,Madrid,NaN,28034,Spain,EMEA,Freyre,Diego,Medium
2821,10397,34,62.24,1,2116.16,3/28/2005 0:00,Shipped,1,3,2005,...,1 rue Alsace-Lorraine,NaN,Toulouse,NaN,31000,France,EMEA,Roulet,Annette,Small
2822,10414,47,65.52,9,3079.44,5/6/2005 0:00,On Hold,2,5,2005,...,8616 Spinnaker Dr.,NaN,Boston,MA,51003,USA,NaN,Yoshido,Juri,Medium

In [ ]:
m_cycle.ORDERNUMBER.isna().value_counts()